.App {
  text-align: center;
}


ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
header {
  background-color: orangered;
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login {
  -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5c03b), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #f5c03b 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #f5c03b 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #f5c03b 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #f5c03b 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #f5c03b 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5c03b', endColorstr='#e4685d',GradientType=0);
	background-color:#f5c03b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 61px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;

}

.login:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #f5c03b));
	background:-moz-linear-gradient(top, #e4685d 5%, #f5c03b 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #f5c03b 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #f5c03b 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #f5c03b 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #f5c03b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#f5c03b',GradientType=0);
	background-color:#e4685d;
}
.login:active {
	position:relative;
	top:1px;
}

